@import url('http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700');

html, body {
   height: 100%;
   font-family:'Open Sans',arial,sans-serif;
}

a {
  color:#222222;
}

.wrapper, .row {
   height: 100%;
   margin-left:0;
   margin-right:0;
}

.column {
    height: 100%;
    overflow: auto;
    *zoom:1;
}

.column .padding {
    padding: 20px;
}

.box {
  	bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #0097a7;
}

.divider {
	margin-top:32px;
}

#main {
    background-color:#fefefe;
    font-family: Palatino Linotype;
}

.logo {
  min-height: 2em;
  font-size: 3vw;
  padding: 1em;
}

#sidebar, #sidebar a {
  color:#fefefe;
  padding: 0;
}

.sidebar-nav .navbar {
  padding: 0;
  margin-top: 2em;
}

ul {
  width: 100%;
}

.sidebar-nav .navbar ul li{
  float: none;
  display: block;
  height: 4em;
  padding: 1em;
  text-align: center;
  font-size: 1.5em;
}

.sidebar-nav .navbar ul li:hover{
  background-color: #007b88;
}

.sidebar-nav .navbar li a {
  padding-top: 12px;
  padding-bottom: 12px;
}

.navbar, .navbar-header {
  background-color: transparent;
  border: none;
  box-shadow: none;
}


.col-sm-9.full {
    width: 100%;
}

#contentHeader h1{
  font-size: 6em;
  text-align: center; 
  margin-top: 2em;
  margin-bottom: 1em;
}

#contentBody {
  padding: 2em;
}

#contentBody p {
  font-size: 1.5em;
}