//colors
$color_white: rgba(255,255,255,0.6);
$color_pink: #FF4081;
$color_blue_grey: #607D8B;

//fonts
$font_0: Open Sans;
$font_1: arial;
$font_2: sans-serif;
$font_3: Palatino Linotype;

//images
$background_0: url(../img/la.jpg);

@import url(http://fonts.googleapis.com/css?family=Open+Sans:200,300,400,600,700);

body {
  background: $background_0 center center fixed;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
  background-size: cover;
  font-family: $font_3, $font_0, $font_2, $font_1;
  background-color: $color_blue_grey;
}

#global_wrapper {
  width: 100%;
  height: 100%;
}

/*#content_wrapper {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}*/

#top_header {
  display: flex;
  flex-direction: column;
  width: 80vw;
  height: 80vh;
  text-align: center;
  margin: auto;

  h1 {
    text-align: center;
    color: $color_white;
    margin-top: 10vh;
    font-size: 750%;
  }
  
  nav {
    margin-bottom: 8vh;
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  a {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: $color_white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
    font-family: $font_0;
  }

  a:hover {
    color: $color_pink;
  }

  i {
    margin: 2vw 2vw 0.5vw 2vw;
    color: $color_white;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }
  i:hover {
    color: $color_pink;
  }

}

#main_body {
  width: 80vh;
  height: 10vh;
  margin: auto;
  text-align: center;

  .post {
    text-align: left;
    padding: 3vw;
    margin-bottom: 3vh;
    background-color: $color_white;
    min-height: 30vh;
    box-shadow: 20px;
  }
}

.accent {
  color: $color_pink;
}

#more {
  width: 40vw;
  background-color: $color_white;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  border-radius:6px;
  font-family: $font_0;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.5s;
}

#more:hover {
  background-color: transparent;
  color: $color_white;
}

